<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/squizlabs/php_codesniffer/tests/bootstrap.php"
         backupGlobals="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         colors="true">
    <testsuites>
        <testsuite name="West">
            <file>./phpunit.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./West/Sniffs</directory>
        </whitelist>
    </filter>
</phpunit>